{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<!-- header -->
<header class="hero">
  <div class="section-center hero-center">
    <div class="hero-info">
      <div class="speech-bubble">
        <article class="hero-text">
          <h1>Hey I'm Erwin</h1>
          <h4>freelance web developer</h4>
          <ul class="social-icons hero-icons">
            <li>
              <a href="https://github.com/solinuck/" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/erwin.rudi.3" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/erwin-rudi-0a694b197/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="social-icon"><i class="fab fa-instagram" target="_blank"></i></a>
            </li>
          </ul>
          <btn class="btn hero-btn">Get in contact</btn>
        </article>
      </div>
      <div class="contact-infos">
        <p class="contact-info"><span class="contact-pre">Email:</span> erwin.rudi@gmail.com</p>
        <p class="contact-info"><span class="contact-pre">Tel:</span> +4915730777128</p></div>
    </div>

    <article class="hero-img">
	<img src="{{ url_for("static", filename='images/main/hero-img.JPG') }}" class="hero-photo" alt="hero image">
    </article>
  </div>
</header>
<!-- end of header -->

<!-- about -->
<section class="section about">
  <div class="section-center about-center">
    <!-- about img -->
    <article class="about-img">
      <img src="{{ url_for("static", filename='images/main/about-img.png') }}" class="hero-photo" alt="about img">
    </article>
    <!-- about info -->
    <article class="about-info">
      <!-- section title -->
      <div class="section-title about-title">
        <h2>about me</h2>
        <div class="underline"></div>
      </div>
      <!-- end of section title -->
      <p>I'm currently writing my master thesis in physics at the RWTH Aachen Untiversity. As as physicist I love solving problems of any kind, be it technical or interpersonal. My technical interests are <span class="bold">Data Science</span>, <span class="bold">Machine Learning</span> and <span class="bold">Web development</span>. </p>

      <p>One thing that has always fascinated me is the human body in all it's complexity. My goal is to discover its full potential. That's why I'm always eager to learn something new from life and from people. I'm happy when making discoveries, especially when I can apply them in the real world.</p>

      <p>Outside of uni and work I like to live a very active lifestlye with lots of sports, from working out and chess to volleyball and dancing. I love reading, creating things and spending time with family and friends.</p>
      <a href="/about" class="btn">View CV</a>
    </article>
  </div>
</section>
<!-- end of about -->

<!-- projects -->
<section class="section projects">
  <!-- section title -->
  <div class="section-title">
    <h2>My Projects</h2>
    <div class="underline"></div>
    <p class="projects-text">
      I started my programming journey in June 2019.
      Here you can see some of my projects, which will redirect you to the corresponding Github repositories.
    </p>
  </div>
  <!-- end of section title -->
  <div class="section-center projects-center">
  </div>
  <div class="center margin-top-btn">
    <a href="/projects" class="btn">View all projects</a>
  </div>
</section>
<!-- end of projects -->

<!-- blog -->
<div class="section blog">
  <!-- section title -->
  <div class="section-title">
    <h2>blog</h2>
    <div class="underline"></div>
  </div>
  <!-- end of section title -->
  {% if posts | length == 0%}
    <p class="no-articles">Unfortunately, there are no blog articles yet :&#40;</p>
  {% else %}
    <div class="section-center blog-center">
      {% for post in posts %}
        {% set date_posted = post.date_posted.strftime("%m/%d/%Y") -%}
        <!-- single article -->
        <div class="card">
          <!-- front of the card -->
          <div class="card-side card-front">
            <a class="blog-card-link" href="{{ url_for('blog.single_article_view', id=post.id, title=post.title| lower | replace(" ", "-")) }}">
              {% set n_words = post.intro.count(" ") + post.body.count(" ") + 4 %}
              <div class="blog-card-img">
                <img src="{{ url_for( 'static', filename='images/blog_uploads/' + post.image_file) }}" alt="">
                <div class="reading-time"> {{ (n_words / 255) | round(method="ceil") | int }} min read</div>
              </div>
              <div class="card-info">
                <h4>{{ post.title }}</h4>
                <p>{{ post.intro }}</p>
                <div class="card-footer">
                  <div class="tags">
                    {% for tag in tags[loop.index0] %}
                      <span class="tag">{{ tag }}</span>
                    {% endfor %}
                  </div>
                  <p>{{ date_posted[:7] + date_posted[9:] }}</p>
                </div>
              </div>
            </a>
          </div>
          <!-- end of front of the card -->

          <!-- back of the card -->
          <div class="card-side card-back">
              <div class="article-beginning">
                <div class="fade-out"></div>
                {%- for p in body[loop.index0] -%}
                  {% if p == "" %}
                    <br>
                  {% endif %}
                  <p>{{ p }}</p>
                {%- endfor -%}
                <a href="{{ url_for('blog.single_article_view', id=post.id, title=post.title| lower | replace(" ", "-")) }}" class="btn read-more">read more</a>
              </div>
              <div class="tags">
                {% for tag in tags[loop.index0] %}
                  <a class="tag-link" href="{{ url_for('blog.bloglist_view', search=tag.lower())}}">
                    {{ tag }}
                  </a>
                {% endfor %}
              </div>
          </div>
          <!-- end of back of the card -->
        </div>
        <!-- end of single article -->
      {% endfor %}
    </div>
  {% endif %}




  <div class="center margin-top-btn">
    <a href="/blog" class="btn">view all articles</a>
  </div>
</div>
<!--end of  blog -->
{% endblock%}
