{% extends "base.html" %}

{% block title %} Login {% endblock%}

{% block content %}
<!-- Register Form -->
<div class="single-page">

  <div class="form">
    <div class="center">
      <h2>Login</h2>
    </div>
    <div class="form-box">
      <form class="auth-form" method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
        {% if form.email.errors %}
          {{ form.email(placeholder="Email", class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(placeholder="Email") }}
        {% endif%}
        </div>


        <div class="form-group">
        {% if form.password.errors %}
          {{ form.password(placeholder="Password", class="is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(placeholder="Password") }}
        {% endif%}
        </div>
        <div class="center">
          <!-- <input class="submit-btn" type="submit" value="Login"> -->
          {{ form.submit(class="submit-btn") }}
        </div>
      </form>
    </div>
  </div>
</div>

<!-- End of Register Form -->
{% endblock %}
