{% extends "base.html" %}

{% block title %} Register {% endblock%}

{% block content %}
<!-- Register Form -->
<div class="single-page">

  <div class="form">
    <div class="center">
      <h2>registration form</h2>
    </div>
    <div class="form-box">
      <div class="flash center">replace me</div>
      <form class="form" method="post">
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password"
          placeholder="Password" required>
          <div class="center">
            <input class="submit-btn" type="submit" value="Register">
          </div>
      </form>
    </div>
  </div>
</div>

<!-- End of Register Form -->
{% endblock %}
