{% extends 'base.html' %}

{% block title %}" Blog - {{ post.title }}"{% endblock %}

{% block content %}
  <img class="single-article-image" src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ post['image_file'] }}" alt="">
  <div class="blog-article">
    <article class="single-article section-center">
      <h1 class="article-title">{{ post.title }}</h1>
      <div class="underline"></div>

      <p class="article-intro">{{ post.intro }}</p>

      <div class="article-body">
        {%- for p in body -%}
          {% if p == "" %}
            <br>
          {% endif %}
          <p>{{ p }}</p>
        {%- endfor -%}
      </div>

      <div class="tags">
        {% for tag in tags %}
          <a href="{{ url_for('blog.bloglist_view', search=tag.lower(), _method='GET') }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
    </article>
    {% if current_user.is_authenticated %}
    <form action="{{ url_for('blog.delete_view', id=post.id) }}">
    <div class="center ">
      <button class="btn btn-center" type="submit" formaction="{{ url_for('blog.update_view', id=post.id) }}"> Edit </button>
      <button class="btn danger btn-center" type="submit" onclick="return confirm('Are you sure?');" formaction="{{ url_for('blog.delete_view', id=post.id) }}"> Delete </button>
    </div>
    </form>
    {% endif %}

    <div class="article-footer">
      {%- if prev_post or next_post -%}
        <h3 class="article-footer-heading">Other articles</h3>
      {% endif %}
      <div class="other-articles">
        {%- if prev_post -%}
          <div class="article-footer-card">
            <div class="article-footer-img">
              <a href="{{ url_for('blog.single_article_view', id=prev_post.id, title=prev_post.title| lower | replace(" ", "-")) }}">
                <img class="article-footer-photo" src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ prev_post.image_file }}" alt="">
              </a>
            </div>
            <div class="article-footer-info">
              <a href="{{ url_for('blog.single_article_view', id=prev_post.id, title=prev_post.title | lower | replace(" ", "-")) }}">
                <h4>{{ prev_post.title }}</h4>
              </a>
              <div class="tags">
                {% for tag in prev_tags %}
                  <a href="{{ url_for('blog.bloglist_view', search=tag.lower(), _method='GET') }}" class="tag">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {%- endif -%}
        {%- if next_post -%}
          <div class="article-footer-card">
            <div class="article-footer-img">
              <a href="{{ url_for('blog.single_article_view', id=next_post.id, title=next_post.title| lower | replace(" ", "-")) }}">
                <img class="article-footer-photo" src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ next_post.image_file }}" alt="">
              </a>
            </div>
            <div class="article-footer-info">
              <a href="{{ url_for('blog.single_article_view', id=next_post.id, title=next_post.title| lower | replace(" ", "-")) }}">
                <h4>{{ next_post.title }}</h4>
              </a>
              <div class="tags">
                {% for tag in next_tags %}
                  <a href="{{ url_for('blog.bloglist_view', search=tag.lower(), _method='GET') }}" class="tag">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
      <div class="center">
        <a class="btn go-back-btn" href="{{ url_for('blog.bloglist_view') }}"> Go back to all articles</a>
      </div>
    </div>

  </div>


{% endblock %}
