{% extends 'base.html' %}

{% block title %}" Blog - {{ post['title'] }}"{% endblock %}

{% block content %}

  <img class="single-article-image" src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ post['imagename'] }}" alt="">
  <div class="blog-article">
    <article class="single-article section-center">
      <h1 class="article-title">{{ post['title'] }}</h1>
      <div class="underline"></div>

      <p class="article-intro">{{ post['intro'] }}</p>

      <p class="article-body">{{ post['body'] }}</p>

      <div class="tags">
        {% for tag in tags %}
          <a href="#" class="tag">{{tag}}</a>
        {% endfor %}
      </div>
    </article>
    <form action="{{ url_for('blog.delete_view', id=post['id']) }}">
    <div class="center ">
      <button class="btn btn-center" type="submit" formaction="{{ url_for('blog.update_view', id=post['id']) }}"> Edit </button>
      <button class="btn danger btn-center" type="submit" onclick="return confirm('Are you sure?');"> Delete </button>
    </div>
    </form>

  </div>

{% endblock %}
