{% extends 'base.html' %}

{% block title %}" Blog - {{ post['title'] }}"{% endblock %}

{% block content %}
  <img class="single-article-image" src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ post['imagename'] }}" alt="">
  <div class="blog-article">
    <article class="single-article section-center">
      <h1 class="article-title">{{ post['title'] }}</h1>
      <div class="underline"></div>

      <p class="article-intro">{{ post['intro'] }}</p>

      <p class="article-body">{{ post['body'] }}</p>

      <div class="tags">
        {% for tag in post["tags"] %}
          <a href="#" class="tag">{{tag}}</a>
        {% endfor %}
      </div>

    </article>
    <form action="{{ url_for('blog.delete_view', id=post['id']) }}">
    <div class="center ">
      <button class="btn btn-center" type="submit" formaction="{{ url_for('blog.update_view', id=post['id']) }}"> Edit </button>
      <button class="btn danger btn-center" type="submit" onclick="return confirm('Are you sure?');"> Delete </button>
    </div>
    </form>
    <div class="article-footer">
      {% if prev_post %}
        <div class="article-footer-card">
          <div class="article-footer-img">
            <a href="{{ url_for('blog.single_article_view', id=prev_post['id'], title=prev_post['title']| lower | replace(" ", "-")) }}">
              <img class="article-footer-photo" src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ prev_post['imagename'] }}" alt="">
            </a>
          </div>
          <div class="article-footer-info">
            <a href="{{ url_for('blog.single_article_view', id=prev_post['id'], title=prev_post['title']| lower | replace(" ", "-")) }}">
              <h4>{{prev_post["title"]}}</h4>
            </a>
            <div class="tags">
              {% for tag in prev_post["tags"] %}
                <a href="#" class="tag">{{tag}}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      {% if next_post %}
        <div class="article-footer-card">
          <div class="article-footer-img">
            <a href="{{ url_for('blog.single_article_view', id=next_post['id'], title=next_post['title']| lower | replace(" ", "-")) }}">
              <img class="article-footer-photo" src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ next_post['imagename'] }}" alt="">
            </a>
          </div>
          <div class="article-footer-info">
            <a href="{{ url_for('blog.single_article_view', id=next_post['id'], title=next_post['title']| lower | replace(" ", "-")) }}">
              <h4>{{next_post["title"]}}</h4>
            </a>
            <div class="tags">
              {% for tag in next_post["tags"] %}
                <a href="#" class="tag">{{tag}}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  </div>


{% endblock %}
