{% extends "base.html" %}

{% block title %} Blog {% endblock%}

{% block content %}
<!-- blog -->
<section class="section bloglist-section">
  <div class="bloglist-header">
    <div class="center">
      <h2>blog</h2>
      <div class="underline"></div>
    </div>
    <div class="search-container">
      <form method="POST" action="/blog/" id="search-form">
        <input class="search" type="text" name="search" placeholder="Search article...">
        <input class="hidden-btn" type="submit" id="search-btn">
      </form>
    </div>
    <div class="expand-search-btn">
      {% if expandsearch%}
      <i class="fas fa-angle-down rotate"></i>
      {% else %}
      <i class="fas fa-angle-down"></i>
      {% endif%}
    </div>
  </div>
</section>


<!-- expanded search -->
{% if expandsearch%}
<section class="section expanded-blog-search show-blog-search z-index">
{% else %}
<section class="section expanded-blog-search">
{% endif%}
  <div class="section-center search-center">

    <!-- sort by date -->
    <div class="pick-date">
      <h3 class="center">Sort by date</h3>
      <ul class="list-dots search-date-list">
        <li class="search-year">
          <div class="date-option">
            <span class="year">20{{ year }}</span>
            <span class="option-menu">
              <i class="fas fa-angle-down" id="dropdown-btn"></i>
              <div class="year-option">
                <a href="{{ url_for('blog.bloglist_view', search=search, year='20', month=month, expandsearch=True)}}">2020</a>
                <a href="{{ url_for('blog.bloglist_view', search=search, year='21', month=month, expandsearch=True)}}">2021</a>
              </div>
            </span>
          </div>

          <ul class="list-dots">
            <li class="search-month">
              <div class="date-option">
              <span class="month">{{months[month]}}</span>
              <span class="option-menu">
                <i class="fas fa-angle-down" id="dropdown-btn"></i>
                <div class="month-option">
                  {%- for x in months -%}
                    <a href="{{ url_for('blog.bloglist_view', search=search, year=year, month=x, expandsearch=True) }}">{{months[x]}}</a>
                  {% endfor %}
                </div>
              </span>
            </div>
              <ul class="list-dots search-articles">
                {% for post in posts %}
                  {%  if post["created"][:2] == month and post["created"][6:8] == year%}
                    <li class="search-article">
                      <a href="{{ url_for('blog.single_article_view', id=post['id'], title=post['title']| lower | replace(" ", "-")) }}" class='search-link'>{{ post["title"] }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end of sort by date -->

    <!-- sort by topic -->
    <div class="pick-topic">
      <h3 class="center">Pick a topic</h3>
      {% for post in posts%}
        {% for tag in post["tags"]%}
          <a class="tag-link" href="{{ url_for('blog.bloglist_view', search=tag.lower(), year=year, month=month, expandsearch=expandsearch, _method='GET') }}">
            {{tag}}
          </a>
        {% endfor %}
      {% endfor %}
    </div>
    <!-- end of sort by topic -->
  </div>
</section>
<!-- end of expanded search -->

{% if expandsearch %}
<section class="section blog-articles blog-articles-small">
{% else %}
<section class="section blog-articles">
{% endif %}
  <div class="section-center">
    {% if posts | length == 0%}
      <p class="no-articles">Unfortunately, there are no blog articles yet :&#40;</p>
    {% else %}
      <h3 class="current-search">
        {% if search %}
          Search for: <span class="search-display">{{ search }}</span>
        {% else %}
          All articles
        {% endif %}
      </h3>
      <div class="blog-center">
        {% for post in search_posts %}
          <!-- single article -->
          <div class="card">
            <div class="card-side card-front">
              <!-- front of the card -->
              <div class="blog-card-img">
                <img src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ post['imagename'] }}" alt="">
                <div class="reading-time"> {{reading_min}} min read</div>
              </div>
              <div class="card-info">
                <h4>{{post['title']}}</h4>
                <p>{{post['intro']}}</p>
                <div class="card-footer">
                  <div class="tags">
                    {% for tag in post["tags"] %}
                      <span class="tag">{{tag}}</span>
                    {% endfor %}
                  </div>
                  <p>{{(post['created'])[:10] }}</p>
                </div>
              </div>
            </div>
            <!-- end of front of the card -->

            <!-- back of the card -->
            <div class="card-side card-back">
                <div class="article-beginning">
                  <div class="fade-out"></div>
                  {%- for p in post["body"] -%}
                    {% if p == "" %}
                      <br>
                    {% endif %}
                    <p>{{ p }}</p>
                  {%- endfor -%}
                  <a href="{{ url_for('blog.single_article_view', id=post['id'], title=post['title']| lower | replace(" ", "-")) }}" class="btn read-more">read more</a>
                </div>
                <div class="tags">
                  {% for tag in post["tags"] %}
                    <a class="tag-link" href="{{ url_for('blog.bloglist_view', search=tag.lower(), _method='GET') }}">
                      {{tag}}
                    </a>
                  {% endfor %}
                </div>
            </div>
            <!-- end of back of the card -->
          </div>
          <!-- end of single article -->
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if g.user %}
    <div class="center">
      <a class="btn margin-top-btn" href="{{ url_for('blog.create_view') }}"> new article</a>
    </div>
  {% endif %}
  {% if search%}
    <div class="center">
      <a class="btn margin-top-btn" href="{{ url_for('blog.bloglist_view') }}"> All articles</a>
    </div>
  {% endif %}
</section>
<!--end of  blog -->
{% endblock %}
