{% extends "base.html" %}

{% block title %} Blog {% endblock%}

{% block content %}
<!-- blog -->
<div class="section section-blog">
  <!-- section title -->
  <div class="bloglist-header">
    <div class="center">
      <h2>blog</h2>
      <div class="underline"></div>
    </div>
    <div class="search-container">
      <form method="post" action="">
        <input class="search" type="text" name="search" placeholder="Search article...">
        <input class="hidden-btn" type="submit" id="search-btn">
      </form>
    </div>
  </div>
  <!-- end of section title -->
  <div class="section-center">
    <h3 class="current-search">
      {% if not search_value %}
        All articles
      {% else %}
        Search for: <span class="search-display">{{ search_value }}</span>
      {% endif %}
      </h3>
    <div class="blog-center">
      {% for post in posts %}
        <!-- single article -->
        <div class="card">
          <div class="card-side card-front">
            <!-- front of the card -->
            <img src="{{ config['IMAGE_UPLOADS_REL'] }}/{{ post['imagename'] }}" alt="">
            <div class="card-info">
              <h4>{{post['title']}}</h4>
              <p>{{post['intro']}}</p>
              <div class="tags">
                {% for tag in tags[loop.index - 1] %}
                  <span class="tag">{{tag}}</span>
                {% endfor %}
              </div>
              <div class="card-footer">
                <img src="../../static/images/hero-img-small.jpeg" alt="author image">
                <p>{{(post['created'] | string )[2:10] }}</p>
                <p>7 min read </p>
              </div>
            </div>
          </div>
          <!-- end of front of the card -->

          <!-- back of the card -->
          <div class="card-side card-back">
              <div class="article-beginning">
                <div class="fade-out"></div>
                <p>{{post['body'][:1000]}}</p>
                <a href="{{ url_for('blog.single_article_view', id=post['id'], title=post['title']| lower | replace(" ", "-")) }}" class="btn read-more">read more</a>
              </div>
              <div class="tags">
                {% for tag in tags[loop.index - 1] %}
                  <a class="tag-back" href="#">
                    {{tag}}
                  </a>
                {% endfor %}
              </div>
          </div>
          <!-- end of back of the card -->
        </div>
        <!-- end of single article -->
      {% endfor %}
    </div>
  </div>
  {% if g.user %}
    <div class="btn-center">
      <a class="action btn" href="{{ url_for('blog.create_view') }}"> new article</a>
    </div>
  {% endif %}
</div>
<!--end of  blog -->
{% endblock %}
