{% extends 'base.html' %}

{% block title %}Edit "{{ post['title'] }}"{% endblock %}

{% block content %}
<div class="single-page">

  <div class="section-center create-article-center">
    <div class="center">
      <h2>Edit {{ post['title'] }}</h2>
    </div>
    <div class="form-box ">
      <form class="form" method="post" enctype="multipart/form-data">
        <!-- Title -->
        {{ form.hidden_tag() }}

        {{ form.title.label(class="form-label")}}
        {% if form.title.errors %}
          {{ form.title() }}
          <div class="invalid-feedback">
            {% for error in form.title.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.title(placeholder="Title") }}
        {% endif%}
        <!-- End of Title -->

        <!-- Image input -->
        <div class="image-input-container">


          {% if form.image.errors %}
            {{ form.image() }}
            <div class="invalid-feedback">
              {% for error in form.image.errors%}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.image(class="hidden-btn") }}
          {% endif%}
          {{ form.image.label(class="custom-file-label form-label")}}

          <span class="selected-image">No image selected</span>
        </div>

        <!-- End of Image input -->

        <!-- Intro -->
        {{ form.intro.label(class="form-label")}}
        {% if form.intro.errors %}
          {{ form.intro() }}
          <div class="invalid-feedback">
            {% for error in form.intro.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.intro(class="article-input", rows='5') }}
        {% endif%}
        <!-- End of Intro -->

        <!-- Body -->
        {{ form.body.label(class="form-label")}}
        {% if form.body.errors %}
          {{ form.body() }}
          <div class="invalid-feedback">
            {% for error in form.body.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.body(class="article-input", rows='10') }}
        {% endif%}

        <!-- Tags -->
        <div class="tag-form">
          <label class="form-label" for="tags">Tags</label>
          <span class="add-tag-btn" id="add-btn">+</span>
          <span class="delete-tag-btn">-</span>
          <div class="tag-field">
            <span class="tag-text">Add at least one Tag</span>
            <div class="article-tags">{{ form.tag0(class="create-tag")}}</div>
          </div>
        </div>
        <!-- End of Tags -->

        <div class="center">
          {{ form.submit()}}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
