{% extends 'base.html' %}

{% block title %}Edit "{{ post['title'] }}"{% endblock %}

{% block content %}
<div class="single-page">

  <div class="section-center create-article-center">
    <div class="center">
      <h2>Edit {{ post['title'] }}</h2>
    </div>
    <div class="form-box ">
      <div class="flash center">replace me</div>
      <form class="form" method="post">
        <label class="form-label" for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
        <label class="form-label" for="body">Introduction</label>
        <textarea class="article-input" type="text" maxlength="200" name="intro" rows="5" id="body">{{ request.form['intro'] or post['intro'] }}</textarea>
        <label class="form-label" for="body">Body</label>
        <textarea class="article-input" type="text" name="body" rows="10" id="body">{{ request.form['body'] or post['body'] }}</textarea>
        <div class="center">
          <input class="submit-btn" type="submit" value="Publish">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
