{% extends "base.html" %}

{% block title %} About {% endblock%}

{% block content %}
<!-- about -->
<section class="section about-hero">
  <div class="section-center about-hero-center">
    <!-- about img -->
    <!-- <article class="about-img">
      <img src="{{ config['IMAGES_PATH'] }}/about-img.jpeg" class="hero-photo" alt="about img">
    </article> -->
    <!-- about info -->
    <article class="about-hero-info">
      <!-- section title -->
      <div class="section-title about-title">
        <h2>about</h2>
        <div class="underline"></div>
      </div>
      <!-- end of section title -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur doloribus
        sit, vitae. Numquam, asperiores deserunt saepe voluptatibus
        veniam velit accusantium reiciendis rem. Facilis dolores nisi, minus autem
        distinctio magni fugiat
        adipisci dolore consequatur placeat, quaerat molestiae. Libero delectus
        aspernatur earum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur doloribus
        sit, vitae. Numquam, asperiores deserunt saepe voluptatibus
        veniam velit accusantium reiciendis rem. Facilis dolores nisi, minus autem
        distinctio magni fugiat
        adipisci dolore consequatur placeat, quaerat molestiae. Libero delectus
        aspernatur earum.</p>
    </article>
  </div>
</section>
<!-- end of about -->

<!-- skills -->
<section class="section skills">
  <!-- section title -->
  <div class="section-title">
    <h2>skills</h2>
    <div class="underline"></div>
  </div>
  <!-- end of section title -->
  <div class="section-center skills-center">
    <article>
      <h3>front end</h3>
      <!-- single skill -->
      <div class="skill">
        <p>HTML/CSS</p>
        <div class="skill-container">
          <div class="skill-value"></div>
          <p class="skill-text">50%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>Javascript</p>
        <div class="skill-container">
          <div class="skill-value value-70"></div>
          <p class="skill-text skill-text-70">70%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>React</p>
        <div class="skill-container">
          <div class="skill-value value-80"></div>
          <p class="skill-text skill-text-80">80%</p>
        </div>
      </div>
      <!-- end of single skill -->
    </article>
    <article>
      <h3>back end</h3>
      <!-- single skill -->
      <div class="skill">
        <p>python</p>
        <div class="skill-container">
          <div class="skill-value"></div>
          <p class="skill-text">50%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>flask</p>
        <div class="skill-container">
          <div class="skill-value value-70"></div>
          <p class="skill-text skill-text-70">70%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>deep learning^</p>
        <div class="skill-container">
          <div class="skill-value value-80"></div>
          <p class="skill-text skill-text-80">80%</p>
        </div>
      </div>
      <!-- end of single skill -->
    </article>
  </div>
</section>
<!-- end of skills -->

<!-- timeline -->
<section class="section timeline">
  <!-- section title -->
  <div class="section-title">
    <h2>timeline</h2>
    <div class="underline"></div>
  </div>
  <!-- end of section title -->
  <div class="section-center timeline-center">
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>2020</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quo nisi sint,
        sed neque vel nemo quas ducimus iusto beatae? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Itaque, dignissimos.</p>
      <span class="number">1</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>2019</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quo nis i sint,
        sed neque vel nemo quas ducimus iusto beatae? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Magni, saepe!</p>
      <span class="number">1</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>2018</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quo n isi sint,
        sed neque vel nemo quas ducimus iusto beatae? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Suscipit, ad.</p>
      <span class="number">2</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>2017</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quo nisi sint,
        sed neque vel nemo quas ducimus iusto beatae? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Corporis, itaque.</p>
      <span class="number">3</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>2016</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea q uo nisi sint,
        sed neque vel nemo quas ducimus iusto beatae? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Temporibus, amet?</p>
      <span class="number">4</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>2015</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quo nisi sint,
        sed neque vel nemo quas ducimus iusto beatae? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Quia, minima?</p>
      <span class="number">5</span>
    </article>
    <!-- end of single timeline item -->
  </div>
</section>
<!--end of  timeline -->
{% endblock %}
