{% extends "base.html" %}

{% block title %} About {% endblock%}

{% block content %}
<!-- about -->
<section class="section about-hero">
  <!-- about info -->
  <article class="about-hero-info">
    <!-- section title -->
    <div class="section-title about-page-title">
      <h2 class="quote-part1"><span class="quotation-mark-container"><span class="quotation-mark-1">"</span>M</span>y favorite thing to do
      <div class="long-underline-left"></div></h2>
      <h2 class="quote-part2">is to go</h2>
      <h2 class="quote-part3">where I've never been."
      <div class="long-underline-right"></div></h2>
    </div>
  </article>
</section>
<!-- end of about -->

<!-- skills -->
<section class="section skills">
  <!-- section title -->
  <div class="section-title">
    <h2>skills</h2>
    <div class="underline"></div>
  </div>
  <!-- end of section title -->
  <div class="section-center skills-center">
    <article>
      <h3>front end</h3>
      <!-- single skill -->
      <div class="skill">
        <p>HTML/CSS</p>
        <div class="skill-container">
          <div class="skill-value value-80"></div>
          <p class="skill-text skill-text-80">80%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>Javascript</p>
        <div class="skill-container">
          <div class="skill-value value-60"></div>
          <p class="skill-text skill-text-60">60%</p>
        </div>
      </div>
      <!-- end of single skill -->
    </article>
    <article>
      <h3>back end</h3>
      <!-- single skill -->
      <div class="skill">
        <p>python</p>
        <div class="skill-container">
          <div class="skill-value value-80"></div>
          <p class="skill-text skill-text-80">80%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>deep learning / Data Science</p>
        <div class="skill-container">
          <div class="skill-value value-60"></div>
          <p class="skill-text skill-text-60">60%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>flask</p>
        <div class="skill-container">
          <div class="skill-value value-60"></div>
          <p class="skill-text skill-text-60">60%</p>
        </div>
      </div>
      <!-- end of single skill -->
      <!-- single skill -->
      <div class="skill">
        <p>docker / DevOps</p>
        <div class="skill-container">
          <div class="skill-value"></div>
          <p class="skill-text">50%</p>
        </div>
      </div>
      <!-- end of single skill -->
    </article>
  </div>
</section>
<!-- end of skills -->

<!-- timeline -->
<section class="section timeline">
  <!-- section title -->
  <div class="section-title">
    <h2>timeline</h2>
    <div class="underline"></div>
  </div>
  <!-- end of section title -->
  <div class="section-center timeline-center">
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>December, 2019</h4>
      <p>Working as a student at the 3. physical institute of RWTH Aachen. Static
        <span class="bold">frontend development </span> and virtualization with <span class="bold">Docker Swarm</span> on <span class="bold">Linux Server</span>.</p>
      <span class="number">1</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>Oktober, 2019</h4>
      <p>Start of masters-programm in physics at the RWTH Aachen University. Specialization in experimental <span class="bold">particle physics</span>, <span class="bold">data Analysis</span>, <span class="bold">statistics</span> and <span class="bold">Machine Learning</span>. </p>
      <span class="number">2</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>June, 2019 - September, 2019</h4>
      <p><span class="bold">Bachelor thesis</span> on "Improving statistics of the W-boson production process with additional b-tagged jets through <span class="bold">Deep Learning</span> based refinement". Working with a generative adversial network approach. </p>
      <span class="number">3</span>
    </article>
    <!-- end of single timeline item -->
    <!-- single timeline item -->
    <article class="timeline-item">
      <h4>Oktober, 2016 - September, 2019</h4>
      <p>Bachelors-programm in physics at the RWTH Aachen University. </p>
      <span class="number">4</span>
    </article>
    <!-- end of single timeline item -->

  </div>
</section>
<!--end of  timeline -->
{% endblock %}
