{% extends "base.html" %}

{% block title %} Erwin Rudi || Home{% endblock %}

{% block content %}

<!-- header -->
<header class="hero">
  <div class="section-center hero-center">
    <article class="hero-info">
      <div class="underline">
      </div>
      <h1>Hey I'm Erwin</h1>
      <h4>freelance web developer</h4>
      <!-- <a href="./contact.html" class="btn hero-btn">hire me</a> -->
      <!-- social icons -->
      <ul class="social-icons hero-icons">
        <li>
          <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
        </li>
        <li>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </article>
    <article class="hero-img">
      <img src="{{ config.IMAGES_PATH }}/hero-img.jpeg" class="hero-photo" alt="john doe">
    </article>
  </div>
</header>
<!-- end of header -->

<!-- about -->
<section class="section about">
  <div class="section-center about-center">
    <!-- about img -->
    <article class="about-img">
      <img src="{{ config.IMAGES_PATH }}/about-img.jpeg" class="hero-photo" alt="about img">
    </article>
    <!-- about info -->
    <article class="about-info">
      <!-- section title -->
      <div class="section-title about-title">
        <h2>about me</h2>
        <div class="underline"></div>
      </div>
      <!-- end of section title -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur doloribus
        sit, vitae. Numquam, asperiores deserunt saepe voluptatibus
        veniam velit accusantium reiciendis rem. Facilis dolores nisi, minus autem
        distinctio magni fugiat
        adipisci dolore consequatur placeat, quaerat molestiae. Libero delectus
        aspernatur earum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur doloribus
        sit, vitae. Numquam, asperiores deserunt saepe voluptatibus
        veniam velit accusantium reiciendis rem. Facilis dolores nisi, minus autem
        distinctio magni fugiat
        adipisci dolore consequatur placeat, quaerat molestiae. Libero delectus
        aspernatur earum.</p>
      <a href="/about" class="btn">more info</a>
    </article>
  </div>
</section>
<!-- end of about -->

<!-- projects -->
<section class="section projects">
  <!-- section title -->
  <div class="section-title">
    <h2>My Projects</h2>
    <div class="underline"></div>
    <p class="projects-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptas eum
      cumque! Aut enim, facilis expedita eius laborum consectetur. Et
      accusantium est rerum voluptatibus a dolores doloremque quidem magni mollitia?
    </p>
  </div>
  <!-- end of section title -->
  <div class="section-center projects-center">
    <!-- single project -->
    <a href="./projects.html" class="project-1">
      <article class="project">
        <img src="{{ config.IMAGES_PATH }}/project-1.jpeg" alt="single project"
          class="project-img">
        <div class="project-info">
          <h4>project title</h4>
          <p>client name</p>
        </div>
      </article>
    </a>
    <!-- end of single project -->

    <!-- single project -->
    <a href="./projects.html" class="project-2">
      <article class="project">
        <img src="{{ config.IMAGES_PATH }}/project-2.jpeg" alt="single project"
          class="project-img">
        <div class="project-info">
          <h4>project title</h4>
          <p>client name</p>
        </div>
      </article>
    </a>
    <!-- end of single project -->

    <!-- single project -->
    <a href="./projects.html" class="project-3">
      <article class="project">
        <img src="{{ config.IMAGES_PATH }}/project-3.jpeg" alt="single project"
          class="project-img">
        <div class="project-info">
          <h4>project title</h4>
          <p>client name</p>
        </div>
      </article>
    </a>
    <!-- end of single project -->

    <!-- single project -->
    <a href="./projects.html" class="project-4">
      <article class="project">
        <img src="{{ config.IMAGES_PATH }}/project-4.jpeg" alt="single project"
          class="project-img">
        <div class="project-info">
          <h4>project title</h4>
          <p>client name</p>
        </div>
      </article>
    </a>
    <!-- end of single project -->
  </div>
</section>
<!-- end of projects -->

<!-- blog -->
<div class="section section blog">
  <!-- section title -->
  <div class="section-title">
    <h2>blog</h2>
    <div class="underline"></div>
  </div>
  <!-- end of section title -->
  <div class="section-center blog-center">
    {% for i in range(n_article) %}
      <!-- single article -->
      <div class="card">
        <!-- front of the card -->
        <div class="card-side card-front">
          <a class="blog-card-link" href="{{ url_for('blog.single_article_view', id=posts[i]['id'], title=posts[i]['title']| lower | replace(" ", "-")) }}">
            <div class="blog-card-img">
              <img src="{{ config.IMAGE_UPLOADS_REL }}/{{ posts[i]['imagename']}}" alt="">
              <div class="reading-time"> {{reading_min}} min read</div>
            </div>
            <div class="card-info">
              <h4>{{posts[i]['title']}}</h4>
              <p>{{posts[i]['intro']}}</p>
              <!-- <div class="tags">
                {% for tag in posts[i]["tags"] %}
                  <span class="tag">{{tag}}</span>
                {% endfor %}
              </div> -->
              <div class="card-footer">
                <div class="tags">
                  {% for tag in posts[i]["tags"] %}
                    <span class="tag">{{tag}}</span>
                  {% endfor %}
                </div>
                <p>{{(posts[i]['created'] | string )[2:10] }}</p>
              </div>
            </div>
          </a>
        </div>
        <!-- end of front of the card -->

        <!-- back of the card -->
        <div class="card-side card-back">
            <div class="article-beginning">
              <div class="fade-out"></div>
              {%- for p in posts[i]["body"] -%}
                {% if p == "" %}
                  <br>
                {% endif %}
                <p>{{ p }}</p>
              {%- endfor -%}
              <a href="{{ url_for('blog.single_article_view', id=posts[i]['id'], title=posts[i]['title']| lower | replace(" ", "-")) }}" class="btn read-more">read more</a>
            </div>
            <div class="tags">
              {% for tag in posts[i]["tags"] %}
                <a class="tag-back" href="#">
                  {{tag}}
                </a>
              {% endfor %}
            </div>
        </div>
        <!-- end of back of the card -->
      </div>
      <!-- end of single article -->
    {% endfor %}

  </div>
  <div class="btn-center">
    <a href="/blog" class="btn">view all</a>
  </div>
</div>
<!--end of  blog -->
{% endblock%}
